<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12 py-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title" *ngIf="dessert$ | async">Desszeret, sütemény szerkesztése</h4>
        <h4 class="card-title" *ngIf="!(dessert$ | async)">Új desszeret, sütemény hozzáadása</h4>

      </div>
      <div class="card-body">
        <form #dessertForm="ngForm">
          <input type="hidden" name="id" [(ngModel)]="dessert._id">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Étel neve: *</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="dessert.name" required
                  pattern="^[a-űA-Ű]{5,20}$">
              </div>
              <div [hidden]="dessertForm.controls['name']?.valid" class="alert alert-danger" role="alert">
                Az étel nevének legalább 5 karakter hozzúságúnak kell lennie!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Hozzávalók *</label>
                <input type="text" class="form-control" name="ingredient" [(ngModel)]="dessert.ingredients" required
                  pattern="^[a-űA-Ű ]{5,30}$">
              </div>
              <div [hidden]="dessertForm.controls['ingredient']?.valid" class="alert alert-danger" role="alert">
                The description must be at least 5 letters!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Elkészítés *</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="dessert.description" required
                  pattern="^[a-űA-Ű ]{5,30}$">
              </div>
              <div [hidden]="dessertForm.controls['description']?.valid" class="alert alert-danger" role="alert">
                Az étel elkészítésének leírásának legalább 5 karakter hozzúságúnak kell lennie!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Elkészítési idő *</label>
                <input type="text" class="form-control" name="time" [(ngModel)]="dessert.time" required
                  pattern="^[a-űA-Ű ]{5,30}$">
              </div>
              <div [hidden]="dessertForm.controls['time']?.valid" class="alert alert-danger" role="alert">
                Az elkészítési időnek tartalmaznia kell az időt és a hozzá tartozó időmértékegységet is!
              </div>
            </div>
          </div>

          <button (click)="update(dessert)" [disabled]="dessertForm.invalid" type="submit"
            class="btn btn-primary pull-right">Desszert, sütemény szerkesztésének mentése</button>
          <button (click)="create(dessert)" [disabled]="dessertForm.invalid" type="submit"
            class="btn btn-primary pull-right">Desszert, sütemény mentése</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
