.button {
  background-color: rgb(215, 134, 58);
  border: 3px solid  rgb(164, 82, 4);
}

.button:hover {
  background-color: rgb(184, 96, 14);
  border: 3px solid rgb(126, 63, 4);
}

h1 {
  text-align: center;
}
