<div id="carouselExampleIndicators" class="carousel slide d-flex pb-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Előző</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Következő</span>
  </a>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\img\belszin.jpg" class="d-block w-100"
        alt="Főételkép">
      <div class="carousel-caption d-md-block">
        <a class="button btn btn-primary w-50" routerLink="/main-course" role="button">Főételek</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\img\tarkonyos-leves.jpg" class="d-block w-100"
        alt="Főételkép">
      <div class="carousel-caption d-md-block">
        <a class="button btn btn-primary w-50" routerLink="/soup" role="button">Levesek</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\img\tiramisu.jpg" class="d-block w-100"
        alt="Főételkép">
      <div class="carousel-caption d-md-block">
        <a class="button btn btn-primary w-50" routerLink="/dessert" role="button">Desszertek, Sütemények</a>
      </div>
    </div>
  </div>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing pt-5">

  <!-- Three columns of text below the carousel -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="bd-placeholder-img rounded-circle" width="320" height="180" src="assets\img\tarkonyos-leves.jpg">
        <h2>Tárkonyos csirkeraguleves</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-sm">
        <img class="bd-placeholder-img rounded-circle" width="320" height="180" src="assets\img\belszin.jpg">
        <h2>Sztroganoff-bélszín</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-sm">
        <img class="bd-placeholder-img rounded-circle" width="320" height="180" src="assets\img\tiramisu.jpg">
        <h2>Tiramisu</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <h1 class="pt-5 pb-5">Főzéshez, sütéshez tippek</h1>

  <div class="row featurette pt-5 pb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">Hőkiegyenlítés: <span class="text-muted">Csomómentesség miatt</span></h2>
      <p class="lead">A tejfölhöz vagy tejszínhez, illetve bármilyen tejtermékhez lisztet vagy keményítőt keverünk, ehhez hozzámerünk a leves, főzelék vagy mártás forró levéből, ezeket simára kikeverjük, és ezt a keveréket folyamatosan kevergetve öntjük vissza a forró ételbe.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets\img\hokiegyenlites.jpg"><title>Placeholder</title>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette  pt-5 pb-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Szobahőmérsékletű hús: <span class="text-muted">Több szempontból könnyebség.</span></h2>
      <p class="lead">Ha a húst a hűtődből egyenesen a serpenyődbe helyezed, hosszútávon csak több vesződést okozol magadnak. A szobahőmérsékletű húsnál nem kell a páralecsapódással foglalkoznod, tehát a hús külső és belső része is kezelhetőbbé válik, valamint sokkal egyenletesebben lehet vele dolgozni, mintha még hideg lenne.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets\img\hideghus.jpg"><title>Placeholder</title>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette pt-5 pb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">Élezd meg a késed: <span class="text-muted">Néha nem márt magunk miatt is.</span></h2>
      <p class="lead">Azon túl, hogy életlen késsel dolgozni sokkal veszélyesebb, ha rendszeresen megélezed a késeid, sokkal precízebben és gyorsabban tudsz dolgozni. Gondolj bele, mennyit vesződsz a hagymával és a paradicsommal...Nem lehet, hogy a késedben van a hiba?</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets\img\keselezes.jpg"><title>Placeholder</title>

    </div>
  </div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
