<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="logo">
    <img src="../../../assets/img/Ohana foods_2.1.png" alt="Ohana foods logo" width="150">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
        <a class="nav-link" routerLink="/">Főoldal <span class="sr-only">(current)</span></a>
      <fa-icon [icon]="faHouseChimney"></fa-icon>
        <a class="nav-link" routerLink="/appetizer">Előételek</a>
      <fa-icon [icon]="faBreadSlice"></fa-icon>
        <a class="nav-link" routerLink="/soup">Levesek</a>
      <fa-icon [icon]="faBowlFood"></fa-icon>
        <a class="nav-link" routerLink="/main-course">Főételek</a>
      <fa-icon [icon]="faUtensils"></fa-icon>
        <a class="nav-link" routerLink="/dessert">Desszertek, Sütemények</a>
      <fa-icon [icon]="faCake"></fa-icon>
    </div>
  </div>
</nav>
