<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-transparent navbar-absolute">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appetizer">Előételek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/soup">Levesek</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/main-course">
          <i class="fa-solid fa-utensils" aria-hidden="true"></i>
          <p>Főételek</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/dessert">
          <i class="fa-solid fa-cupcake" aria-hidden="true"></i>
          <p>Desszertek, Sütemények</p>
        </a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <fa-icon [icon]="faCoffee"></fa-icon>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"> <i class="icon fa-solid fa-house-chimney"></i> Főoldal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appetizer">Előételek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/soup"> <i class="icon fa-solid fa-bowl-hot"></i> Levesek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main-course"><i class="icon fa-solid fa-utensils" aria-hidden="true"></i> Főételek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dessert"><i class="icon fa-solid fa-cupcake " aria-hidden="true"></i> Desszertek, Sütemények</a>
      </li>
    </ul>

  </div>
</nav>
