<div class="d-flex justify-content-center py-4">
  <button type="button" class="btn btn-primary col-10" [routerLink]="['/new/soup']">
    Új leves hozzáadása
  </button>
</div>
<div class="container p-3">
  <h1 class="pb-4">Levesek</h1>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Étel neve</th>
                <th>Hozzávalók</th>
                <th>Elkészítés</th>
                <th>Elkészítési idő</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let soup of soup$ | async">
                <td>{{ soup.name }}</td>
                <td>{{ soup.ingredients }}</td>
                <td>{{ soup.description }}</td>
                <td>{{ soup.time }}</td>
                <td>
                  <div class="btn-group">
                    <button [routerLink]="['/edit/soup/', soup._id ]" class="btn btn-info">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button (click)="delete(soup)" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
