<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title" *ngIf="mainCourse$ | async">Főétel szerkesztése</h4>
        <h4 class="card-title" *ngIf="!(mainCourse$ | async)">Új főétel hozzáadása</h4>

      </div>
      <div class="card-body">
        <form #mainCourseForm="ngForm">
          <input type="hidden" name="id" [(ngModel)]="mainCourse._id">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Étel neve: *</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="mainCourse.name" required
                  pattern="^[a-űA-Ű]{5,20}$">
              </div>
              <div [hidden]="mainCourseForm.controls['name']?.valid" class="alert alert-danger" role="alert">
                Az étel nevének legalább 5 karakter hozzúságúnak kell lennie!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Hozzávalók *</label>
                <input type="text" class="form-control" name="ingredient" [(ngModel)]="mainCourse.ingredients" required
                  pattern="^[a-űA-Ű ]{5,30}$">
              </div>
              <div [hidden]="mainCourseForm.controls['ingredient']?.valid" class="alert alert-danger" role="alert">
                The description must be at least 5 letters!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Elkészítés *</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="mainCourse.description" required
                  pattern="^[a-űA-Ű ]{5,30}$">
              </div>
              <div [hidden]="mainCourseForm.controls['description']?.valid" class="alert alert-danger" role="alert">
                Az étel elkészítésének leírásának legalább 5 karakter hozzúságúnak kell lennie!
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating h5 text-secondary">Elkészítési idő *</label>
                <input type="text" class="form-control" name="time" [(ngModel)]="mainCourse.description" required
                  pattern="^[a-űA-Ű ]{5,30}$">
              </div>
              <div [hidden]="mainCourseForm.controls['time']?.valid" class="alert alert-danger" role="alert">
                Az elkészítési időnek tartalmaznia kell az időt és a hozzá tartozó időmértékegységet is!
              </div>
            </div>
          </div>

          <button  (click)="update(mainCourse)" [disabled]="mainCourseForm.invalid" type="submit"
            class="btn btn-primary pull-right">Főétel szerkesztésének mentése</button>
          <button (click)="create(mainCourse)" [disabled]="mainCourseForm.invalid" type="submit"
            class="btn btn-primary pull-right">Főétel mentése</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
