<div class="all">
  <div class="container p-2 pt-4">
    <div class="row">
      <div class="col-md">
        <p>2022 &copy; - designed by Sipos Edina</p>
      </div>
      <div class="col-md">
        <a
          class="d-flex justify-content-center align-items-center"
          href="https://www.youtube.com/watch?v=VX9z-KZzNMs"
          data-toggle="tooltip"
          title="Budapesti streed food ételek külföldi szemmel">
            <i class="fab fa fa-youtube"></i>
        </a>
    </div>
  </div>
</div>
