<!-- <footer class="grid-container">
    <p class="grid-item"> 2022 &copy; - designed by sedina </p>
    <button class="grid-item float-end"><a href="#">Back to top</a></button>
    <a class="nav-link" href="https://www.youtube.com/watch?v=VX9z-KZzNMs"><i class="fa-brands fa-youtube"></i></a>
</footer> -->

<div class="row mb-3">
  <div class="col-md-4 themed-grid-col">2022 &copy; - designed by sedina</div>
  <div class="col-md-4 themed-grid-col">
    <link rel="shortcut icon" href="URL goes here" /> <link rel="stylesheet" href="">
  </div>
  <div class="col-md-4 themed-grid-col">.col-md-4</div>
</div>
