<div class="all sticky">
  <div class="container p-2 pt-4">
    <div class="row align-items-center justify-content-center">
      <img src="../../../assets/img/Ohana foods_2.1.png" alt="Ohana foods logo" width="180">
      <div class="col-md">
        <p>2022 &copy; - designed by Sipos Edina</p>
      </div>
      <div class="col-md">
        <div class="row">
          <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"
            data-placement="top" data-content="Videó megtekintéséhez kattints a youtube logóra ;)">
            <p>Budapesti streed food <br> ételek külföldi szemmel</p>
          </button>
          <a class="d-flex justify-content-center align-items-center pl-5" href="https://www.youtube.com/watch?v=VX9z-KZzNMs"
            data-toggle="tooltip" title="Budapesti streed food ételek külföldi szemmel">
            <i class="fab fa fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
